*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 86vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
    url('image/20230210125350_IMG_4605.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1; /*it will occupy all space in the row */
    text-align: right;
}
.nav-links ul li{
    list-style: none; /*there will be no bullet*/
    display: inline-block; /*for horizontally*/
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li #menuic{
    display: inline-block;
    color: #fff;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
    transition: 0.5s;
    padding-left: 4px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    margin-left: 7%;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:145%;
}
.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 4%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 175px;
    line-height: 160px;
    color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 1px #fff;
    background: url('image/back.png');
    -webkit-background-clip: text;
    background-position:  0 0;
    animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}


@keyframes text{
    0%{
        width: 0ch;

    }
    50%{
        width: 17ch;
    }
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 13px;
    color: #fff;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}
nav .nav-links i{
    display: none;
}
.header nav i{
    display: none;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600;
    color: #E9D5DA;
}
.course .row{
    margin-top: 2%;
    display: flex; /*all in column */
    justify-content: space-between;
}
.course .img-row{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.course .img-row .img{
    flex-basis: 31%;
    border-radius: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    transition: 1s;
}
.course .img-row .img:hover{
    transform: scale(1.5);
    cursor: pointer;
    
}
.course .row .row-col{
    flex-basis: 31%;
    background: #E9D5DA;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 20px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course .row .row-col h3{
    
    text-align: center;
    font-weight: 600;
    margin: 30px 0;
}
.row-col:hover{
    box-shadow:  0 0 20px 0px #f44336;
    cursor: pointer;

}
.img_sec{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.img_sec .row{
    margin-top: 2%;
    display: flex; /*all in column */
    
}
.img_sec .row .g1{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    transition: 0.5s; 
    position: relative;
    overflow: hidden;
    margin-right: 7%;
}
.g1 .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.g1 .layer:hover{
    background: rgb(3, 0,28, 0.7);

}
.img_sec .row .g1 h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.g1 .layer:hover h3{
    bottom: 49%;
    opacity: 1;

}
.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
}
.testimonials .row{
    margin-top: 2%;
    display: flex; /*all in column */
    
}
.testimonials .row .test_col{
    flex-basis: 31%;
    background: #F5EDCE;
    border-radius: 10px; 
    margin-left: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    display: flex;
    cursor: pointer;
    transition: 0.5s;

}
.testimonials .row .test_col img{
    height: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials .row .test_col p{
    padding: 0;
}
.testimonials .row .test_col h3{
    text-align: center;
    font-weight: 700;
}
.testimonials .row .test_col:hover{
    background: #93FFD8;
}
#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}

.cta{
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
    url('image/pexels-cottonbro-studio-3992871.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
}

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    text-align: center;
    margin-top: 10%;
    
}

 footer .foot{
    width: 100%;
    padding-top: 30px;
   
}
footer .foot h3{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
}
footer .foot i{
    padding: 15px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    transition: 0.5s;
}
footer .foot i:hover{
    transform: translateY(-10px);
}
footer .foot h5{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    opacity: 0.48;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('image/wave.png');
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave_02 3s linear infinite;
}

@keyframes animatewave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;

    }
}

@keyframes animatewave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;

    }
}

.hair_care{
    width: 80%;
    margin: auto;
    padding-top: 90px;
    text-align: center;
}

.hair_care .row{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;

}
.hair_care .row .content{
    
    text-align: left;
    flex-basis: 50%;
}
.hair_care .row .content h1{
    margin-bottom: 5px;

}

.hair_care .row .content img{
    width: 70%;
    height: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
}

.hair_care .cmt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;

}
.cmt .sub-comt{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
    flex-basis: 50%;
}

.cmt .sub-comt .cmt-form input, .cmt .sub-comt .cmt-form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #ECE8DD;

}
.btn1{
    display: inline-block;
    text-decoration: none;
    color: #03001C;
    border: 1px solid #20262E;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn1:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    color: #fff;

}
.cmt .sub-comt .cmt-form input:hover{
    border: 1px solid #f44336;
    transition: 1s;
    
}
.cmt .sub-comt .cmt-form textarea:hover{
    border: 1px solid #f44336;
    transition: 1s;
}
.cmt .right{
    
    margin: 50px 0;
    padding: 10px 20px;
    flex-basis: 50%;
}
.cmt .right img{
    width: 50%;
    height: 100%;
    margin-left: 16%;
}
@media(max-width: 700px){
    .cmt{
        flex-direction: column;
    }
    .cmt .right img{
        width: 100%;
        height: 100%;
        margin-left: 8%;
        position: relative;
    }
    .cmt .sub-comt{
        border: 1px solid #ccc;
        margin: 50px 0;
        margin-left: 10%;
        flex-basis: 50%;
        
    }
    .text-box h1{
        font-size: 65px;
        line-height: 160px;
        color: transparent;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        -webkit-text-stroke: 1px #fff;
        background: url('image/back.png');
        -webkit-background-clip: text;
        background-position:  0 0;
        animation: back 20s linear infinite;
    
    }
}
::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent, #30ff00);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #0066ff);
}




@media only screen and (max-width:998px){
    .header{
        min-height: 70vh;
    }
    .header .image{
        height: 50vh;
    }
    .header .image #img1{
        height: 100%;
        width: 100%;
    }
    .header .image .bgr{
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6));
        position: absolute;
        display: flex;
    }
    .text-box{
        width: 100%;
    }
    .text-box h1{
        font-size: 50px;
        padding-left: 2px;
        text-align: center;
        position: relative;
        top: 50px;
    
    }
    .text-box p{
        display: none;
    }
    .text-box .btn{
        top: 60px;
        font-size: 12px;
    }
    .nav-links ul li{
        display: block; /*for horizontally*/
        right: 40px;
    }
    .nav-links ul li a{
        font-size: 14px;
        padding-left: 7px;
        font-weight: 400;
    }
    .nav-links{
        position: fixed;
        backdrop-filter: blur(5px);
        height: 70vh;
        width: 110px;
        top: 0;
        font-size: 1px;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;

    }
    .nav-links i{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .header nav i{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 14px;
        cursor: pointer;
        padding-left: 6px;
    }
    .nav-links ul{
        padding-left: 25px;
        
    }
    .header nav img{
        height: 70%;
        width: 60%;
    }

    .row{
        flex-direction: column;
    }
    .course h1{
        font-size: 22px;
    }
    .img-row .img{
        display: block;
        height: 10%;
        width: 20%;
        margin-left: 9%;
        margin-bottom: 30%;
    }
    .testimonials .row{
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .img_sec .row .g1{
        height: 70%;
        width: 70%;
        margin-left: 10%;
        border-radius: 30px;
    }
    .g1 .layer{
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    footer .foot h3{
        font-size: 15px;
        font-weight: 500;
        color: #fff;
    }
    footer .foot h5{
        font-size: 12px;
    }
    footer .foot i{
        padding: 15px;
        color: #fff;
        font-size: 19px;
        display: inline-block;
        transition: 0.5s;
    }
    #toggle1{   
        height: 35px;
        width: 35px;
        bottom: 50px;
    }
    #toggle1 img{
        height: 25px;
        width: 25px;
    
    }
    #progress {
        height: 50px;
        width: 50px;
        bottom: 50px;
    }
    
    #progress-value {
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        
    }
    .cta{
        margin-bottom: 29%;
    }
    .cta h1{
        font-size: 18px;
    }
}